.film-grain {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    will-change: transform;
    background-repeat: repeat;
    z-index: 999;
    -webkit-animation: film-flicker 4s ease-in-out infinite;
    animation: film-flicker 4s ease-in-out infinite;
    /* Debug styles */
    background-color: rgba(255, 0, 0, 0.1);
}

.dark {
    opacity: 0.2;
    mix-blend-mode: overlay;
}

.light {
    opacity: 0.1;
    mix-blend-mode: multiply;
}

@-webkit-keyframes film-flicker {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes film-flicker {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.02);
    }

    100% {
        transform: scale(1);
    }
}